html, body {
    overflow-x: hidden;
}

body {
    color: black;
    font-family: Times New Roman;
    font-size: 16px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #777;
}

.container {
    max-width: 600px;
    margin: 0 auto 0 auto;
    width: 600px;
    overflow-x: hidden;
}

div.header {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 12px 0px 12px 0px;
}

div.logo a {
    color: black;
    float: left;
    text-decoration: none;
    text-transform: lowercase;
    filter: blur(10px);
}

h1 {
    font-size: 2em;
    line-height: 1.0em;
    margin: 2em 0 2em 0;
}

h2 {
    font-size: 1.5em;
    margin: 2em 0 2em 0;
}

h3 {
    font-size: 1.17em;
    margin: 2em 0 2em 0;
}

.hflex {
    display: flex;
    flex-direction: row;
}

div.info {
    color: #555;
}

.icons {
    margin: 60px 0px 60px 0px;
}
.icons img{
    height: 2em;
    width: auto;
    margin: 0px 30px 0px 0px;
}

ul {
    padding-left: 1.5em;
}

li {
    text-indent: 0;
}

ul.postlist {
    list-style: none;
}
ul.postlist li {
    padding-left: 0em;
}

.post-row {
    display: flex;
}

a.post-title {
    color: black;
}

.grow {
    flex: 1 0 auto;
}

.date {
    min-width: 140px;
    color: #666;
    text-transform: uppercase;
    line-height: 1.8em;
    font-size: 0.8em;
}

blockquote {
    margin: 2em;
    font-style: italic;
}

code {
    font-size: 0.9em;
}

pre.sourceCode {
    background: rgba(0,0,0,0.1);
}
sup, sub {
    line-height: 0;
    font-size: smaller;
}

/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
