{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "flowtype/no-weak-types": 2,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "react/jsx-filename-extension": [0, { "extensions": [".js"] }],
    "react/prefer-stateless-function": 0,
    "react/no-danger": 0,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.dev.config.js"
      }
    }
  }
}
