html, body, #App {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

#Upsidedown {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    height: 100%;
    width: 100%;
    font-size: 24vmin;
}
